<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Ticker App_Kelly</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>This is a ticker app!</h2>

            <form id='index' method='post' action='/' > <!-- action is the URL you want to move to next-->
   <p>
   Ticker Symbol: <input type='text' name='name' />
   </p>

  <input type="radio" name="plot" value="open" checked> Opening price<br>
  <input type="radio" name="plot" value="close"> Closing price<br>
  <input type="radio" name="plot" value="high"> High price<br>
  <input type="radio" name="plot" value="low"> Low price
                
   <p>
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>
            
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
